*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
    font: 14px/1.5 Lato, sans-serif;
    margin: 0;
    padding: 4em 2em;
}

.site{
    max-width: 1100px;
    background-color: white;
    padding: 1em;
    border-radius: 3px;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.site > *{
    border: 1px solid black;
    padding: 1em;
    border-radius: 3px;
    flex: 1 1 auto;
}

.site-header, .site-footer{
    flex: 1 1 100%;
}

.site > main{
    flex-grow: 7;
}

.site > aside{
    flex-grow: 3;
}

.site + .site{
    margin-top: 4em;
}

@media (max-width: 1100px) {
    .site{
        flex-direction: column;
    }
}