@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font: 14px/1.5 "Lato", sans-serif;
}

body{
    padding: 2em;
    background: #eee;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    flex: 0 0 35em;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background: white;
    border-radius: 5px;
    padding: 2em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
}

.login fieldset{
    display: block;
    width: 100%;
    border: none;
    padding: 0.3em;
}

legend{
    display: block;
    font-size: 1.8em;
    font-weight: bold;
    padding-bottom: 1em;
}

.login label{
    display: block;
    font-weight: 400;
    font-size: 1.2em;
}

.login input, .login textarea{
    display: block;
    width: 100%;
    padding: 0.5em;
    border: none;
    border-bottom: 2px solid #b1b1b1;
}

.login input[type="submit"]{
    background: #dbdbdb;
    color: rgb(0, 0, 0);
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 1em;
    margin: 2em auto 0;
    font-size: 1.2em;
}

.login .field{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    position: relative;
}

.login  .field label::before{
    display: block;
    position: absolute;
    top: 0;
    right: 0; 
    font-family: "Font Awesome 6 Free";
    top: 12px;
}

.login .field label{
    order: -1;
} 

.login .field span{
    font-size: 0.9em;
    color: #b1b1b1;
    margin-top: 0.5em;
    font-style: italic;
}

.login textarea{
    resize: vertical;
    min-height: 100px;
}