*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font: 14px/1.5 "Lato", sans-serif;
}

body{
    padding: 2em;
    background: #eee;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    margin-bottom: 1em;
}

form{
    background: white;
    border-radius: 5px;
    padding: 2em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
    width: 50%;
}

.field{
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0.5em 0;
}

input{
    display: block;
}

input[type="radio"],
input[type="checkbox"]{
    cursor: pointer;
    width: 2em;
    height: 2em;
    position: relative;
    border-radius: 30px;
}

input[type="radio"]::after,
input[type="checkbox"]::after{
    transition: all 0.2s cubic-bezier(0.8, 0.01, 0.48,2);
}

input[type="radio"]::before,
input[type="checkbox"]::before{
    transition: all 0.2s ease-in-out;
}

input[type="radio"]::after,
input[type="checkbox"]::after,
input[type="radio"]::before,
input[type="checkbox"]::before{
    content: "";
    position: absolute;
}

input[type="radio"]::before,
input[type="checkbox"]::before{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: #b1b1b1;
    box-shadow: 0 0 0 2px #cacacab4;
}

input[type="radio"]::after,
input[type="checkbox"]::after{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: #f47b01;
    transform: scale(0, 0);
}

input[type="radio"]:checked::after,
input[type="checkbox"]:checked::after{
    transform: scale(1, 1);
}

input[type="radio"]:checked::before,
input[type="checkbox"]:checked::before{
    background: #f47b01;
    box-shadow: 0 0 0 2px #f47b01b4;
}

input[type="checkbox"]{
    margin: 0 1em;
}

input[type="checkbox"]::before{
    width: 200%;
    background-color: #eee;
    transform: scale(-25%, 0);
    border-radius: 1.5em;
}

input[type="checkbox"]::after{
    width: 80%;
    height: 80%;
    background-color: #f47b01;
    transform: scale(60%, 0);
}

input[type="checkbox"]:checked::after{
    transform: scale(-60%, 0);
}