.banner{
    background-color: rgba(0, 0, 255, 0.774);
    color: white;
    padding: 10px;
    border-radius: 4px;
}

.top-nav ul{
    display: flex;
    padding-left: 0;
    justify-content: space-around;
}

li{
    list-style-type: none;
    border: 1px solid green;
    padding: 5px 8px;
    border-radius: 5px;
}

a{
    text-decoration: none;
}

h2{
    text-align: center;
}

.items-ctr{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.item{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    padding: 2em 2.5em;
    width: 35%;
}

img{
    width: 100%;
    border: 1px solid blue;
}

.img-ctr{
   width: 50%;
   display: flex;
   margin-right: 2em;
}



@media screen and (max-width: 767px) {
    .top-nav ul{
        flex-direction: column;
    }
    .top-nav ul li{
        font-size: 2.5em;
        text-align: center;
    }
    .banner{
        display: none;
    }
    .items-ctr, .item{
        flex-direction: column;
    }
    .item, .img-ctr, .text-ctr{
        width: 80%;
        margin: auto;
    }

}