* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
  font:
    14px/1.5 Lato,
    sans-serif;
  padding: 2em;
}

h1 {
  color: rgb(0, 138, 41);
  padding: 1em 1.5em;
  background-color: rgb(236, 236, 236);
}

h2 {
  color: rgb(49, 49, 49);
  padding-bottom: 0.5em;
}

p {
  padding-bottom: 1.5em;
}

.site {
  max-width: 1100px;
  margin: auto;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
  overflow: hidden;
}

.site > header {
  margin-bottom: 2em;
}

.site > footer {
  background-color: rgb(61, 61, 61);
  color: white;
  width: 100%;
  text-align: center;
  padding: 1em;
  margin-top: 1em;
}

.site > footer p:last-of-type {
  padding-bottom: 0%;
}

.site-content {
  display: flex;
  gap: 2em;
  padding: 0 3em;
}

.menu > ul {
  display: flex;
}

.menu ul li {
  list-style-type: none;
  flex: 1 0 auto;
}

.menu a {
  display: block;
  background-color: rgb(61, 61, 61);
  color: white;
  text-decoration: none;
  padding: 1em 1.5em;
}

.menu a:hover {
  background-color: rgb(88, 88, 88);
}

@media screen and (max-width: 640px) {
  .site-content {
    flex-direction: column;
  }
  .menu > ul {
    flex-direction: column;
  }
  .menu ul li {
    text-align: center;
    border: 1px solid rgb(87, 87, 87);
  }
}
