@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

header .img-wrapper {
  width: 120px;
}

header .img-wrapper img {
  width: 70%;
}

.list-items {
  display: flex;
}

.list-items li {
  list-style-type: none;
  color: white;
  padding: 0 10px;
  margin: 10px;
  font-weight: bold;
}

main .img-wrapper {
  width: 100%;
  height: 300px;
  background-color: rgb(33, 179, 45);
  position: relative;
}

main .img-wrapper img {
  position: relative;
  top: 50px;
  width: 45%;
}

main > h2 {
  position: relative;
  color: white;
  text-align: center;
  top: -280px;
  margin: 30px 0;
}

.taxes {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  height: 400px auto;
  margin: 0 auto -220px auto;
  position: relative;
  top: -280px;
}

.taxes-card {
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
}

.taxes-card h3 {
  margin-top: 20px;
  color: #494949;
}

.taxes-card ul {
  margin-top: 20px;
  color: #494949;
  margin-left: 50px;
  text-align: left;
  width: 80%;
  padding: 20px 0;
}

.taxes-card ul li {
  margin-top: 10px;
  list-style-type: circle;
}

.taxes-card button {
  background-color: #00c133;
  padding: 10px 35px;
  border-radius: 2em;
  color: white;
  font-weight: bold;
  margin: 15px 0;
}

.taxes-card.basic footer div:first-child {
  border-right: 1px solid white;
}

.taxes footer {
  display: flex;
  justify-content: center;
}

.main-description {
  padding: 5px 7px;
  font-size: 18px;
}

.basic p {
  padding: 5px 7px;
}

.diff-form {
  width: 65%;
  margin: 80px auto;
}

.diff-form h3 {
  text-align: center;
  font-size: 40px;
  margin: 20px 0;
}

.diff-form p {
  text-align: center;
  margin: 30px 0;
}

.diff-form ul li {
  list-style-type: none;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.diff-form ul li span {
  flex-basis: 30%;
  display: flex;
  justify-content: space-around;
}

.diff-form ul li:nth-child(even) {
  background-color: #70c185;
}

.diff-form ul li:nth-child(odd) {
  background-color: #cac8c8ed;
}

.finnance {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 80px;
  justify-content: center;
}

.finnance .post-img-wrapper {
  width: 30%;
  float: right;
  margin-left: 100px;
}

.finnance .post-img-wrapper img {
  width: 100%;
}

.finnance h3 {
  text-align: center;
}

.finnance p {
  margin-top: 20px;
  width: 50rem;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px 0;
}