*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font: 12px/1.5 "Lato", sans-serif;
}

@media (min-width: 600px) {
    html{
        font-size: 14px;
    }
}

@media (min-width: 800px) {
    html{
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    html{
        font-size: 18px;
    }
}

body{
    background: lightgray;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

main{
    max-width: 1100px;
}

article{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2em;
    border-radius: 3px;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.5);
}

@media (min-width: 800px) {
    article{
        flex-direction: row;
    }
}

article .media{
    flex: 0 0 10em;
    order: -1;
    overflow: hidden;
    position: relative;
    border-radius: 0.3em;
}

@media (min-width: 800px) {
    article .media{
        flex: 0 0 30%;
        order: 1;
        background-color: aqua;
    }
}

article header{
    padding-bottom: 0.5em;
}

article hgroup h1, article hgroup h2{
    line-height: 1;
}

article hgroup h1{
    font-size: 2.5em;
    font-weight: normal;
    margin: 0.3rem 0;
    opacity: 0.8;
}

article hgroup h2{
    opacity: 0.5;
}

article p{
    opacity: 0.6;
    padding-bottom: 1.5em;
}

.button{
    display: inline-block;
    color: white;
    background-color: rgb(94, 0, 182);
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
}

.secondary{
    margin-left: 1em;
    background-color: rgb(212, 212, 212);
    color: rgb(94, 94, 94);
}

article .media{
    border: 1px solid rgb(83, 83, 83);
    background-color: rgb(204, 204, 204);
    margin-bottom: 1em;
}